body {
    background-color: burlywood;
    color: rgba(51, 51, 51, 1);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Header and Nav */

div#fixedheader {
	position: static;
    float: center;
	top: 0px;
	left: 0px;
	width: auto;
	color: white;
	background: green;
	padding: 20px;
    font-size: 50px;
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: justify;
    display: flex;
    top: 50px;
}

.topnav a {
    float: center;
    display: block;
    color: #50C878;
    text-align: justify;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
}

.topnav a:link {
    font-size: 17px;
    font-family: serif;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: black;  
}

.topnav a:active {
    background-color: #4CAF50;
    color: #50C878;
}

.topnav a:visited {
    color: rgb(21, 152, 74);
    text-decoration: none;
}

/* Content */

p {
    margin-left: 4vw;
    margin-right: 3vw;
    font-size:18px;
}

h1 {
    text-align: center;
    position: relative;
    font-size: 75px;
    top: -38px;
    padding: 8px 10px;
    font-family: sans-serif;
    margin-left: 4vw;
    margin-right: 3vw;
}

h2 {
    font-size: 26px;
    font-family: sans-serif;
    position: relative;
    bottom: 48px;
    margin-left: 4vw;
    margin-right: 3vw;
}

h3 {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    margin-left: 4vw;
    margin-right: 3vw;
}


h4 {
    font-size: 15px;
    font-family: sans-serif;
    margin-left: 4vw;
    margin-right: 3vw;
}

img {
    max-width: 60%; 
    max-height: 40%;
    display:block;
    margin:auto;
}

/* Footer */

div#fixedfooter {
	position:static;
    float: center;
	bottom: 0px;
	left: 0px;
	width: 100%;
	color: #CCC;
	background: #333;
	padding: 8px 0px;
    text-align: center;
    font-size: 15px;
}
